<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.dao.UserDAO">
	
	<select id="userChk" parameterType="String" resultType="UserVO">
		select * from user where email=#{email}
	</select>
	
	<insert id="join" parameterType="UserVO">
		insert into user(email, pw, nickname) values(#{email}, #{pw}, #{nickname})
	</insert>
	
	<select id="emailCheck" parameterType="String" resultType="int">
		select count(email) from user where email=#{email}
	</select>
	
	<update id="setProfileImg" parameterType="HashMap">
		update user
		set	profileimg=#{img}, imgtype=#{imgtype}
		where email=#{email}
	</update>
	
	<select id="nicknameChk" parameterType="String" resultType="int">
		select count(nickname)
		from user
		where nickname=#{nickname}
	</select>
	
	<update id="setNickname" parameterType="UserVO">
		update user
		set nickname=#{nickname}
		where email=#{email}
	</update>
	
	<select id="getProfileImg" parameterType="String" resultType="java.util.Map">
		select profileimg, imgtype
		from user 
		where email=#{email}
	</select>
	
	<select id="getCategory" parameterType="String" resultType="CategoryVO">
		select *
		from category
		where email=#{email}
		order by idx
	</select>
	
	<update id="keepLogin" parameterType="HashMap">
		update user
		set sessionkey=#{sessionid}, sessionlimit=#{sessionlimit}
		where email=#{email}
	</update>
	
	<select id="checkUserSession">
		select *
		from user
		where sessionkey=#{sessionid}
	</select>
</mapper>