<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.dao.UserBoardDAO">
	
	<select id="getPostList" resultType="BoardVO">
		select *
		from board
		where not lock_post in ('a', 'y')
		order by hit desc limit 0, 9
	</select>
	
	<select id="getNewPostList" resultType="BoardVO">
		select *
		from board
		where not lock_post in ('a', 'y')
		order by idx desc limit 0, 9
	</select>
	
	<select id="getBoardList" parameterType="int" resultType="BoardVO">
		select *
		from board
		where not lock_post in ('a', 'y')
		order by hit desc limit #{startList}, 9
	</select>
	
	<insert id="write" parameterType="BoardVO">
		insert into board(title, content, nickname, lock_post, cate) 
		values(#{title}, #{content}, #{nickname}, #{lock_post}, #{cate})
	</insert>
	
	<select id="userBoardList" parameterType="HashMap" resultType="BoardVO">
		select *
		from board
		where nickname=#{nickname} and not lock_post in ('a')
		order by idx desc limit #{startList},10
	</select>
	
	<select id="userAllBoardCnt" parameterType="String" resultType="int">
		select count(*)
		from board
		where nickname=#{nickname} and not lock_post in ('a')
	</select>
	
	<select id="cateBoardList" parameterType="HashMap" resultType="BoardVO">
		select *
		from board
		where nickname=#{nickname} and cate=#{cate} and not lock_post in ('a')
		order by idx desc limit #{startList},10
	</select>
	
	<select id="userLockBoardList" parameterType="HashMap" resultType="BoardVO"> 
		select *
		from board
		where nickname=#{nickname} and not lock_post in ('a', 'y')
		order by idx desc limit #{startList},10
	</select>
	
	<select id="cateLockBoardList" parameterType="HashMap" resultType="BoardVO">
		select *
		from board
		where nickname=#{nickname} and cate=#{cate} and not lock_post in ('a', 'y')
		order by idx desc limit #{startList},10
	</select>
	
	<insert id="writeAbout" parameterType="BoardVO">
		insert into board (title, content, nickname, lock_post)
		values('userabout', #{content}, #{nickname}, 'a')
	</insert>

	<update id="updateAbout">
		update board
		set content=#{content}
		where nickname=#{nickname} and lock_post='a'	
	</update>
	
	<select id="getAbout" parameterType="String" resultType="String">
		select content
		from board
		where nickname=#{nickname} and lock_post='a'
	</select>
	
	<insert id="setCategory" parameterType="HashMap">
		insert into category(email, catename)
		values 
		<foreach collection="category" item="catename" separator=",">
			(#{email}, #{catename})
		</foreach>
	</insert>
	
	<delete id="delCate" parameterType="HashMap">
		delete from category
		where idx=#{idx}
	</delete>
	
	<update id="delPostCate" parameterType="HashMap">
		update board
		set cate='nocate'
		where email=#{email} and cate=#{catename}
	</update>
	
	<update id="updateCate" parameterType="CategoryVO">
		update category
		set catename=#{cate}
		where idx=#{idx}
	</update>
	
	<update id="updatePostCate" parameterType="CategoryVO">
		update board
		set cate=#{cate}
		where nickname=#{nickname} and cate=#{oldcate}
	</update>

	<select id="getPostnum" parameterType="String" resultType="int">
		select idx
		from board
		where nickname=#{nickname}
		order by idx desc limit 1
	</select>
	
	<select id="getPost" parameterType="int" resultType="BoardVO">
		select * 
		from board 
		where idx=#{idx}
	</select>
	
	<update id="updatePost" parameterType="BoardVO">
		update board
		set title=#{title}, content=#{content}, lock_post=#{lock_post}, cate=#{cate}
		where idx=#{idx}
	</update>
	
	<delete id="delPost" parameterType="int">
		delete from board
		where idx=#{idx}
	</delete>
	
	<select id="getBoardListCnt" parameterType="String" resultType="int">
		select count(*) as listCnt
		from board
		where nickname=#{nickname}
	</select>
	
	<select id="getCateBoardList" parameterType="HashMap" resultType="int">
		select count(*)
		from board
		where nickname=#{nickname} and cate=#{cate}
	</select>
	
	<select id="getCategory" parameterType="String" resultType="CategoryVO">
		select *
		from category
		where email=#{email}
	</select>
	
	<select id="getCateCnt" parameterType="HashMap" resultType="int">
		select count(*)
		from board
		where nickname=#{nickname} and cate=#{cate}
	</select>
	
	<update id="updateCateCnt" parameterType="HashMap">
		update category
		set catecnt=#{catecnt}
		where email=#{email} and catename=#{cate}
	</update>
	
	<select id="getboardCate" parameterType="HashMap" resultType="String">
		select cate
		from board
		where idx=#{idx}
	</select>
	
	<update id="minusCateCnt" parameterType="HashMap">
		update category
		set catecnt=catecnt-1
		where email=#{email} and catename=#{catename}
	</update>
	
	<select id="getEmail" parameterType="String" resultType="String">
		select email
		from user
		where nickname=#{nickname}
	</select>
	
	<update id="updateHit" parameterType="int">
		update board
		set hit=hit+1
		where idx=#{idx}
	</update>
	
	<insert id="insertguest" parameterType="GuestbookVO">
		insert into guestbook(email, nickname, content)
		values (#{email}, #{nickname}, #{content})
	</insert>
	
	<select id="getguestList" parameterType="String" resultType="GuestbookVO">
		select *
		from guestbook
		where email=#{email}
		order by idx desc
	</select>
	
	<update id="updateguest" parameterType="GuestbookVO">
		update guestbook
		set content=#{content}
		where idx=#{idx}
	</update>
	
	<delete id="delGuest">
		delete from guestbook
		where idx=#{idx}
	</delete>
	
	
</mapper>