<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.dao.UserBoardDAO">
	
	<insert id="write" parameterType="BoardVO">
		insert into board(title, content, email) 
		values(#{title}, #{content}, #{email})
	</insert>
	
	<select id="userBoardList" parameterType="HashMap" resultType="BoardVO">
		select *
		from board
		where email=#{email}
		order by idx desc limit #{startList},10
	</select>
	
	<select id="cateBoardList" parameterType="HashMap" resultType="BoardVO">
		select *
		from board
		where email=#{email} and cate=#{cate}
		order by idx desc limit #{startList},10
	</select>
	
	<select id="getPostnum" parameterType="String" resultType="int">
		select idx
		from board
		where email=#{email}
		order by idx desc limit 1
	</select>
	
	<select id="getPost" parameterType="int" resultType="BoardVO">
		select * 
		from board 
		where idx=#{idx}
	</select>
	
	<update id="updatePost" parameterType="BoardVO">
		update board
		set title=#{title}, content=#{content}
		where idx=#{idx}
	</update>
	
	<delete id="delPost" parameterType="int">
		delete from board
		where idx=#{idx}
	</delete>
	
	<select id="getBoardListCnt" parameterType="String" resultType="int">
		select count(*) as listCnt
		from board
		where email=#{email}
	</select>
	
	<select id="getCateBoardList" parameterType="HashMap" resultType="int">
		select count(*)
		from board
		where email=#{email} and cate=#{cate}
	</select>
	
	<select id="getCategory" parameterType="String" resultType="CategoryVO">
		select *
		from category
		where email=#{email}
	</select>
	
</mapper>